.comments__wrapper{

}
.comment__item{

}
.comments__textarea{
    width: 100%;
    box-sizing: border-box;
}
.comments__send{

}
.comments__input{
    margin-bottom: 15px;
}
.comment__header{
    color: #ffffff;
}
.comment__body{
    font-size: 18px;
    color: #ffffff;
}
.comment__like{
    color: #ffffff;
    font-size: 18px;
}
textarea{
    margin: 0;
}