.main{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #222;
}
