.main{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 20px;
}
.main__body{
    height: 100%;
    width: 100%;
}