.nav__wrapper{
    height: 100vh;
    background: #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.nav{
    display: flex;
    flex-direction: column;
}
a{
    font-size: 22px;
}