.main__item{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main__item img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.main__item span{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18px;
}