@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');

html,body{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #ffffff;
}
h1{
    margin: 0;
    color: #ffffff;
}
.app{
    height: 100vh;
}
.app__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    padding-left: 255px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6126DF;
}
::-webkit-scrollbar-thumb:hover {
    background: #905CFF;
}
.content__inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.main__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__block__item{
    text-decoration: none;
}
.ant-carousel .slick-dots{
    justify-content: flex-start !important;
}
.ant-carousel .slick-dots li button{
    opacity: 1 !important;
}
.ant-carousel .slick-dots li.slick-active button{
    width: 100% !important;
    height: 8px !important;
    background: linear-gradient(90deg, #905CFF 0%, #6126DF 100.53%) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
}
.ant-carousel .slick-dots li button{
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
}
.ant-carousel .slick-dots li.slick-active{
    width: 40px !important;
}
.ant-select{
    width: 100% !important;
}